<div id="all">
    <h1>Editing Classroom</h1>
    <div class="editing">

        <%= render 'form' %>

        <%= link_to 'Show', @classroom %> |
        <%= link_to 'Back', classrooms_path %>
    </div>
</div>
