<div id="all">
    <h1>Editing Student</h1>
    <div class="editing">
        <%= render 'form' %>

        <%= link_to 'Show', @student %> 
        <%= link_to 'Back', students_path %>
    </div>
</div>
